header{
  animation: entrada 1s;
}


  @-webkit-keyframes entrada{
    0%{
      margin-top:150%;
    }
    60%{
      margin-top:-5%
    }
    100%{
      margin-top:0%
    }
  }
.cabecera{
  width: auto;
  height: 150px;
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: Dancing Script;
}
section [class*="cabeza"]{
  min-height: 350px;
  flex-basis: 25%;
}
.cabecera{
  width: auto;
  height: 150;
  display: flex;
  flex-direction: row-reverse;
}
#paisajes{
  text-decoration: none;
}
.cabeza1{
  display: flex;
  margin-right: 300px;
  order: 2;
}
.cabeza2{
  order: 1;
}

#titulo_cabecera{
  font-size: 45px;
}

#menu{
  font-family: Dancing Script;
}
.cabeza1 h1{
  font-size: 30px;
  text-align: center;
  color:#FFFFFF;
  text-shadow: 2px 2px #02010a;
  text-align: left;
}
nav{
  margin-top: 50px;
}
ul{
  display: flex;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
li{
  display: flex;
  flex: auto;
  margin: 0px 5px;
  padding: 0.5% 0.5%;
  height: 100%;
}
a {
  font-size: 30px;
  font-family: Dancing Script;
  color:#FFFFFF;
}

div [class*="cont_padre"] {
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
}
div [id*="imagencata"]{
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#imagencataratas1{
  webkit-filter:blur(10px);
  filter: blur(10px);
}
#imagencataratas2{
  webkit-filter:grey-scale(100%);
  filter:grayscale(100%);
}
#imagencataratas3{
  webkit-filter:sepia(90%);
  filter:sepia(90%);
}
#imagencataratas4{
  webkit-filter:grey-scale(100%);
  filter:grayscale(100%);
}
#imagencataratas5{
  webkit-filter:none;
  filter: none;
}
#imagencataratas6{
  webkit-filter:grey-scale(100%);
  filter:grayscale(100%);

}
footer{
  background-color: #C6d5c5;
}
.piedepagina{
  font-family: Dancing Script;
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  text-align:center;
}
section [class*="bloque"]{
  min-height: 200px;
  flex-basis: 25%;
}
------------------------------------------------------------------------
@media screen and (min-width: 900px){
  .wrapper
  {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 900px){
.cabecera{
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.cabeza1{
  order: 1;
}
.cabeza1{
  margin-right: 0px;
  order: 1;
}
.cabeza1 h1{
  text-align: center;
}
.cabeza2{
  order: 2;
}
.cabecera{
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.piedepagina{
  font-family: Dancing Script;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  text-align:center;
}
div [class*="cont_padre"] {
  display: flex;
  flex-direction: column;
  background-color: #d5c75f;
}
.piedepagina{
  background-color: #C6d5c5;
   border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  }
  }